# Database
OPENSHARE_POSTGRES_DB=postgres
OPENSHARE_POSTGRES_USER=postgres
OPENSHARE_POSTGRES_PASSWORD=supersecurepassword
OPENSHARE_POSTGRES_HOST=db
OPENSHARE_POSTGRES_PORT=5432

# Redis
OPENSHARE_COMPOSE_REDIS_PORT=6379

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# App
DJANGO_ENV=development
BUILD_ENV=development
UID=1000
GID=1000
GUNICORN_WORKERS=3
